<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Driver Exit</title>
</head>
<body>
  <h1 style="text-align: center;">Request Confirmed!</h1>

  <h2 style="text-align: center;">Requesting Pool with these information... </h2>
  
  <!-- <div class="f">
    <form method="post" action="/driver">
  
      <input type="text" name="name" placeholder="your name">
      <br>
      <input type="text" name="phone" placeholder="your phone number">
      <br>
      <input type="text" name="carno" placeholder="your car number">
      <br>
      <input type="text" name="car" placeholder="your car model">
      <br>
      <input type="number" name="seats" placeholder="number of seats">
      <br>
      <input type="text" name="iloc" placeholder="enter initial location">
      <br>
      <input type="text" name="floc" placeholder="enter final location">
      <br> <br>
      <button type="submit" id="sub">SUBMIT</button>
    </form>
  </div> -->
</body>
</html>
