<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>passenger</title>

  <link href="stylesP.css" rel="stylesheet">
  
</head>
<body>
  <h1>Welcome Passenger!</h1>

  <h2>Provide the details to search your ride here: </h2>
  
  <form method="post" action="/passenger">
    <input type="text" name="name" placeholder="your name">
    <br>
    <input type="text" name="phone" placeholder="your phone number">
    <br>
    <br>
    <input type="text" name="iloc" placeholder="enter initial location">
    <br>
    <input type="text" name="floc" placeholder="enter final location">
    <br> <br>
    <button type="submit" id="sub">SEARCH</button>
  </form>

  <!-- graphic element -->
  <img src="PassengerSide.png" alt="passenger png">
</body>
</html>