* {
  background-color: beige;
}

input {
  position: relative;
  left: 5px;
  font-family: sans-serif;
  padding: 10px;
  font-size: 20px;
  border-radius: 25px;
  border-style: inset;

}

#sub {
  font-size: 15px;
  font-family: sans-serif;
  width: 80px;
  height: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
  position: absolute;
  top: 480px;
  left: 80px;
  text-decoration: none;
  text-align: center;
}

#sub:hover {
  background-color: #016ABC;
  color: white;
  cursor: pointer;
}

img {
  position: absolute;
  height: 120vh;
  top: 110px;
  left: 455px;
}